body {
  background-color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-content {
  flex: 1 0 auto;
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}

* {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1ed761;
}

.logo {
  margin: 0 0 0 .45em;
}

.logo:hover {}

.logo a {
  color: rgb(28, 24, 22);
}

.logo, .navigation {
  list-style: none;
  text-transform: uppercase;
}

.logo a, .navigation a {
  text-decoration: none;
  letter-spacing: .45rem;
}

.navigation {
  display: flex;
}

.navigation a {
  font-family: Oswald;
  display: block;
  padding: 1em 3em 1em 3em;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.navigation li {
  font-family: Oswald;
  display: block;
  padding: 1em 3em 1em 3em;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.navigation a:hover {
  color: white;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}

/* ****** ****** */
@media all and (max-width: 600px) {
  .logo {
    margin: .25em 0;
    align-self: left;
    /* align the logo to the left side of 'flex-container' */
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    font-family: Oswald;
    text-align: center;
    padding: 10px;
    border-top: none!important;
    border-bottom: none!important;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #1ed761;
  flex-shrink: 0;
  padding: 15px;
  display: flex;
}
